<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection (test)</title>

    <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://github.com/bigbrews/knowledge-management-system">
                <img src="static/images/navbar/Episteme-logo.png"
                    alt="Episteme: A Knowledge Management System For Sorting Theses Knowledge" width="112" height="28">
            </a>

        </div>
    </nav>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered is-vcentered selection-columns">
                    <div class="column is-three-quarters">
                        <div class="buttons is-centered">
                            <div class="card" style="width: 400px; height: 600px; margin: auto;">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                      <img src="https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="Placeholder image">
                                    </figure>
                                  </div>
                                <div class="card-content has-text-centered">
                                    <nav class="level is-mobile">
                                        <div class="level-item">
                                            <a href="{{ url_for('submission_form') }}">
                                                <div class="selection">
                                                    <button class="button is-link is-fullwidth is-large"
                                                        style="width: 200px;">
                                                        SUBMIT
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="card" style="width: 400px; height: 600px; margin: auto;">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                      <img src="https://images.unsplash.com/photo-1524578271613-d550eacf6090?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Placeholder image">
                                    </figure>
                                  </div>
                                <div class="card-content has-text-centered">
                                    <nav class="level is-mobile">
                                        <div class="level-item">
                                            <a href="{{ url_for('knowledge_library') }}">
                                                <div class="selection">
                                                    <button class="button is-link is-fullwidth is-large"
                                                        style="width: 200px;">
                                                        VIEW
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>