<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection (test)</title>

    <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://github.com/bigbrews/knowledge-management-system">
                <img src="static/images/navbar/Episteme-logo.png"
                    alt="Episteme: A Knowledge Management System For Sorting Theses Knowledge" width="112" height="28">
            </a>

        </div>
    </nav>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered is-vcentered">
                    <div class="column is-half">
                        <div class="buttons is-centered">
                            <a href="{{ url_for('submission_form') }}">
                                <div class="selection">
                                    <button class="button is-primary is-fullwidth is-large"
                                        style="width: 200px; margin-right: 30px;">

                                        SUBMIT

                                    </button>
                                </div>
                            </a>

                            <a href="{{ url_for('submission_form') }}">
                                <div class="selection">
                                    <button class="button is-primary is-fullwidth is-large" style="width: 200px;">

                                        VIEW

                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>