<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Codename: Epi-->
    <title>Episteme | Thesis Submission</title>

    <!-- Import CSS from static/css/main.css -->
    <link rel="stylesheet" href="static/css/main.css">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://github.com/bigbrews/knowledge-management-system">
                <img src="static/images/navbar/Episteme-logo.png"
                    alt="Episteme: A Knowledge Management System For Sorting Theses Knowledge" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div class="navbar-menu">

            <div class="navbar-start">

                <a class="navbar-item">
                    Knowledge Library
                </a>

                <a class="navbar-item">
                    Submission Form
                </a>

            </div>

            <div class="navbar-end">

                <figure class="image is-48x48 has-dropdown is-hoverable" style="padding: 5px; padding-right: 5px;">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>

            </div>

        </div>

    </nav>

    <!-- Home -->

</body>

</html>