<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Codename: Epi-->
    <title>Episteme</title>

    <!-- Import CSS from static/css/main.css -->
    <link rel="stylesheet" href="static/css/main.css">

</head>

<body>
    
    <!-- div class="element" -->

        <!-- Navbar -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://github.com/bigbrews/knowledge-management-system">
                    <img src="static/images/navbar/Episteme-logo.png"
                        alt="Episteme: A Knowledge Management System For Sorting Theses Knowledge" width="112" height="28">
                </a>

            </div>
        </nav>

    <!-- Home -->
        <div class="home_div">

            <h1 class="title home_title">Welcome to Episteme!</h1>

                <a href="{{ url_for('register') }}">
                    <button class="button is-light is-medium">Register</button>
                </a>
                <a href="{{ url_for('log_in') }}">
                    <button class="button is-light is-medium">Log In</button>
                </a>

        </div>

        <div class="home_background">
            <figure>
                <img src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1920&q=80">
            </figure>
        </div>
        
    <!-- /div -->

</body>

</html>